<div class="T_Home-page">
    <div class="">
      <div class="row mt-2">
        <div class="col-md-8 pt-5">
          <h2 class="home_title mt-2">Lotus Domino to Power APP Migration</h2>
          <p class="home_text mb-2">{{info.headertext}}
          </p>
        </div>
        <div class="col-md-4">
          <img src="assets/images/lotusMigration.png" class="img-fluid" alt="home_banner" />
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <h2 class="ourProduct_title1 mb-3">Our Services</h2>
          
        </div>
      </div> -->
      <div class="row">
          <div class="col-12">
              <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-3 box-shadow home_card" routerLink="/product-home">
                        <img class="card-img-top img-fluid" src="assets/images/lotusMigration.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Lotus Domino to Power APP Migration Service</h5>
                          <p class="card-text text-center">{{info.migrationService}}</p>
                          <p class="text-center mb-0"><img class="cursor-pointer" src="assets/images/t_rightnavarrow.svg" alt="Card image cap" routerLink="/product-home"></p>
                        </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
     
    </div>
  </div>